<table{% for key, value in table_view.html_arguments.items() %} {{key}}="{{value}}"{% endfor %}></table>
<script>
    $( document ).ready(function() {
        var table = $("#{{ table_view.html_arguments['id'] }}").DataTable({
            data: {{table_view.js_array_variable_name}},
            columns: [
            {% for column in table_view.columns %}
                {% if column.show_on_table %}
                { {% for key, value in column.extras.items() %}
                    {{ key }}: {{ value }},
                {% endfor %}
                {% if not column.target_set %}
                    target: {{ loop.index0 }},
                {% endif %}
                {% endif %}
                },
            {% endfor %}
            ],
            {% for key, value in table_view.datatable_arguments.items() %}
            {{key}}: {{value}},
            {% endfor %}
        });
        buildFilters(table)

        {% include "js/table.js" %}
    })
</script>
